#container-search {
    width: 550px;
    height: 74px;
    background: #F9F9F9;
    border-radius: 45px;
    position: relative;
}

#image-search {
    left: 50px;
    position: absolute;
}

#input-search:focus > #image-search {
    display: none;
}

#input-search {
    width: 530px;
    height: 65px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 45px;
    border: 1px solid #EBEBEB;
    background: linear-gradient(135deg, #EDEDED 0%, #FFF 100%);
    box-shadow: 5px 5px 12px 0px rgba(194, 194, 194, 0.90),
        -5px -5px 12px 0px rgba(255, 255, 255, 0.90),
        5px -5px 12px 0px rgba(194, 194, 194, 0.20),
        -5px 5px 12px 0px rgba(194, 194, 194, 0.20),
        -1px -1px 1px 0px rgba(194, 194, 194, 0.50) inset,
        1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset;
        text-align: center;
}
